@page
@model EventsApp.Pages.Events.UserEventsArabicModel
@{
    ViewData["Title"] = "أحداث المستخدم";

}


<label>language used/اللغة المستخدمة : </label>
<select asp-for="lang" asp-items="Model.langs" onchange="if(this.value == 'EN') window.location ='/events/userevents'"></select>

<h1>كل الأحداث</h1>
<form>
    <p>
        <input type="text" asp-for="SearchString" />
        <input type="submit" value="ابحث ضمن العنوان" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.Event[0].Title)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.Event[0].Description)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.Event[0].Location)
                </th>*@
            <th>
                الاسم
            </th>
            @*<th>
                الوصف                 </th>*@
            <th>
                الموقع
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Event[0].CoordLongitude)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Event[0].CoordLatitude)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.Event[0].ImagePath)
                </th>*@
            <th>
                التاريخ
            </th>
            <th>
                الصورة
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Event[0].Status)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Event)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>*@
                @*<td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>*@
                @*<td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>*@

                <td>
                    @Html.DisplayFor(modelItem => item.ArabicTitle)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.ArabicDescription)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.ArabicLocation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td class="col-sm-10">
                    <a href="/Events/UserDetailsArabic?id=@item.Id"><img src="/@Html.DisplayFor(modelItem => item.ImagePath)" height="100" width="200" /></a>
                </td>

            </tr>
        }
    </tbody>
</table>
